<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.21.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus dicta enim quos voluptates. Autem corporis culpa, deleniti deserunt dolor doloremque dolores eos facere laboriosam necessitatibus neque nulla officia quibusdam repudiandae totam! Aliquam amet dolore eius eos est facilis impedit iusto natus, nobis, pariatur placeat provident quia quibusdam ratione velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus dicta enim quos voluptates. Autem corporis culpa, deleniti deserunt dolor doloremque dolores eos facere laboriosam necessitatibus neque nulla officia quibusdam repudiandae totam! Aliquam amet dolore eius eos est facilis impedit iusto natus, nobis, pariatur placeat provident quia quibusdam ratione velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus dicta enim quos voluptates. Autem corporis culpa, deleniti deserunt dolor doloremque dolores eos facere laboriosam necessitatibus neque nulla officia quibusdam repudiandae totam! Aliquam amet dolore eius eos est facilis impedit iusto natus, nobis, pariatur placeat provident quia quibusdam ratione velit.</p>
  </div>
</div>
